[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
sqlalchemy = "==1.4.39"
google-api-python-client = "*"
psycopg2-binary = "==2.9.3"
requests-html = "==0.10.0"

[dev-packages]
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"

[requires]
python_version = "3.9"
